<div class="container-fluid p-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="add" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="Id_ActivoTx" placeholder="Activo o Serial equipo" autofocus required value="{{Id_ActivoTx}}">
                    </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Serial_EqTx" placeholder="Serial equipo" required value="{{Serial_EqTx}}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Mac_EqTx" placeholder="address mac equipo" value="{{Mac_EqTx}}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Modelo_EqTx" placeholder="modelo equipo" value="{{Modelo_EqTx}}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Marca_EqTx" placeholder="Marca equipo" value="{{Marca_EqTx}}">
                        </div>
                        <div class="form-group">
                        <textarea name="Description_EqTx" class="form-control" rows="4" placeholder="Description equipo" value="{{Description_EqTx}}"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Propietario_EqTx" placeholder="Propiedad equipo" value="{{Propietario_EqTx}}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Ubicación_EqTx" placeholder="Ubicación equipo" value="{{Ubicación_EqTx}}">     
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </div>
</div>